/* stylesx */
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

.subcontainer-1 {
  flex: 1;
  background-color: #292a2d;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tagline {
    width: 450px;
}
.tagline h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 50px;
    color: #5BA0ED;
    font-family: 'Raleway', sans-serif; ;


}
.subcontainer-2 {
  flex: 1;
  height: 100vh;
}

